asgiref==3.3.1
Django==3.1.6
pytz==2021.1
sqlparse==0.4.1

celery==5.0.5
django-celery-results==2.0.1

psycopg2==2.8.6
numpy==1.20.2
pandas==1.2.4
plotly==4.14.3

django-plotly-dash==1.6.3
channels==3.0.3
daphne==3.0.2
redis==3.5.3
django-redis==4.12.1
channels-redis==3.2.0
